.card{
    text-align: center;
    border-style: none;  
    margin: 0 auto;
    margin-bottom: 10px; 
}
.parent{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}
.child{
    width: 600px;
    height: 730px;
    background-color: rgb(255, 255, 255);
    padding: 25px;
    font-family: sans-serif;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    text-align: center;
}
h3{
    font-weight: bold;
    padding: 10px;
    text-align: center;
}
h4{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}
.container-fluid{
    background-color: aliceblue;
}
.container{
    padding: 70px;
}
p{
    padding:20px;
}
button{
    padding-bottom: 20px; 
    margin-bottom: 20px;
}
.container-fluid{
    text-align: center;
}